
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Task/_LayoutPage1.cshtml";
}

<div class="jumbotron">
    <h1>ToDo List Web Application</h1>
    <p class="lead">
        ToDo List Web Application is a free web based application.
        ASP.Net which its framework is built upon is useful for building great Web sites and
        Web applications using HTML, CSS, JavaScript, C# and other technologies
    </p>
    <h2>
        ADD OTHER DESCRIPTIONS TOO OOOOOOOOOOOOOOOOO OOOOOOOOOOOOOO
    </h2>
</div>

